*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f4f4f4;
    padding: 30px;
}

.resume{
    max-width: 1000px;
    margin: auto;
    background: white;
    display: flex;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

/* Left Side */
.left{
    width: 35%;
    background-color: #1f3c5a;
    color: white;
    padding: 30px;
}

.left h1{
    font-size: 32px;
    margin-bottom: 10px;
}

.contact{
    margin-bottom: 30px;
    line-height: 1.8;
    font-size: 14px;
}

.section{
    margin-bottom: 30px;
}

.section h2{
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.skills ul,
.languages ul{
    list-style: none;
}

.skills li,
.languages li{
    margin-bottom: 10px;
}

/* Right Side */
.right{
    width: 65%;
    padding: 30px;
}

.right-section{
    margin-bottom: 35px;
}

.right-section h2{
    color: #1f3c5a;
    margin-bottom: 15px;
    border-bottom: 2px solid #1f3c5a;
    padding-bottom: 5px;
}

.right-section p{
    line-height: 1.7;
    color: #333;
    margin-bottom: 10px;
}

.job-title{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.date{
    color: gray;
    margin-bottom: 10px;
}

ul{
    margin-left: 20px;
}

ul li{
    margin-bottom: 10px;
    line-height: 1.6;
}

@media(max-width: 768px){

    .resume{
        flex-direction: column;
    }

    .left,
    .right{
        width: 100%;
    }
}